<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Quizo</title>
    <link rel="icon" href="../static/images/Portal.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <!-- start quiz button  -->
    <div class="start_btn"><button>Start Quiz</button></div>

    <!-- info box  -->
    <div class="info_box">
        <div class="info-title"><span>Rules for the exam's quiz</span></div>
        <div class="info-list">
            <div class="info">
                1. Once you select your answer, it can't be undone.
            </div>
            <div class="info">
                2. You will have only 15 seconds per each question.
            </div>
            <div class="info">
                3. You'll get points on the basis of your correct answers.
            </div>
        </div>
        <div class="buttons">
            <button class="quit">Exit Quiz</button>
            <button class="restart">Continue</button>
        </div>
    </div>

    <!-- Quiz box  -->
    <div class="quiz_box">
        <header>
            <div class="title">Quizo</div>
            <div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec">15</div>
            </div>
            <div class="time_line"></div>
        </header>
        <section>
            <div class="que_text"></div>
            <div class="option_list"></div>
        </section>

        <footer>
            <div class="total_que">
            </div>
            <button class="next_btn">Next Question</button>
        </footer>
    </div>

    <!-- Result Box -->
    <div class="result_box">
        <div class="icon">
          <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
          <!-- Here I've inserted Score Result from JavaScript -->
        </div>
        <div class="wait_text">Wait ...</div>
        <div class="buttons">
          <button class="restart leaderboard show-modal hidden">
            Leaderboard
          </button>
          <button class="quit hidden">Quit Quiz</button>
        </div>
      </div>
    
    <div class="camera">
        <img src="{{ url_for('video_feed') }}" id="videoElement" >
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="../static/script.js"></script>
    <script src="../static/questions.js"></script>
</body>
</html>